@model Service.ViewModels.CarsListViewModel
@{
    ViewBag.Title = "Home Page";
}


@using (Html.BeginForm("Index", "Home", FormMethod.Get))
{
    <dl>
        <dt>
            Отсортировать по цене:
        </dt>
        <dd>
            <input type="radio" name="SortPrice" value="NotSort" checked />
            <label>В произвольном порядке</label>
        </dd>
        <dd>
            <input type="radio" name="SortPrice" value="SortAscending" />
            <label>По возрастанию</label>
        </dd>
        <dd>
            <input type="radio" name="SortPrice" value="SortDescending" />
            <label>По убыванию</label>
        </dd>
    </dl>
    <dl>
        <dt>
            Отсортировать по названию:
        </dt>
        <dd>
            <input type="radio" name="SortTitle" value="NotSort" checked />
            <label>В произвольном порядке</label>
        </dd>
        <dd>
            <input type="radio" name="SortTitle" value="SortAscending" />
            <label>По возрастанию</label>
        </dd>
        <dd>
            <input type="radio" name="SortTitle" value="SortDescending" />
            <label>По убыванию</label>
        </dd>
    </dl>
    <dl>
        <dt>
            Марки автомобилей:
        </dt>
        @foreach (var item in Model.Brands)
        {
            <dd>
                <input type="checkbox" name="BrandsSelected" value="@item" />
                <label>@item</label>
            </dd>
        }
    </dl>
    <dl>
        <dt>
            Классы качества:
        </dt>
        @foreach (var item in Model.QualityClasses)
        {
            <dd>
                <input type="checkbox" name="QualityClassesSelected" value="@item" />
                <label>@item</label>
            </dd>
        }
    </dl>
    <input type="submit" value="Фильтр" />
}

<table class="table">
    @foreach (var item in Model.Cars)
    {
        if (item.AvailabilityNow == true)
        {
            <tr>
                <td>@item.Title</td>
                <td>@item.Brand</td>
                <td>@item.QulityClass</td>
                <td>@item.Price</td>
                @if ((User.IsInRole("user")) || (!User.Identity.IsAuthenticated))
                {
                    <td>@Html.RouteLink("Сделать заказ", new { controller = "Order", action = "Order", id = item.Id })</td>
                }
                else if (User.IsInRole("admin"))
                {
                    <td>@Html.RouteLink("Редактировать", new { controller = "Car", action = "EditCar", id = item.Id })</td>
                    <td>@Html.RouteLink("Удалить", new { controller = "Car", action = "DeleteCar", id = item.Id })</td>
                }
            </tr>
        }
    }
</table>