@model Service.ViewModels.OrderDisplay

@{
    ViewBag.Title = "DetailsOrder";
}

<h2>DetailsOrder</h2>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Паспортные данные
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PassportData)
        </dd>

        <dt>
            Начальная дата аренды
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            Конечная дата аренды
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FinalDate)
        </dd>

        <dt>
            Наличие водителя
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AvailabilityDriver)
        </dd>

        @*<dd>
                @Html.DisplayNameFor(model => model.PricePerDay)
            </dd>

            <dd>
                @Html.DisplayFor(model => model.PricePerDay)
            </dd>

            <dd>
                @Html.DisplayNameFor(model => model.Invoice)
            </dd>

            <dd>
                @Html.DisplayFor(model => model.Invoice)
            </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.NameOrderStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NameOrderStatus)
        </dd>



    </dl>
</div>

@if (Model.NameOrderStatus == "Новый")
{
    using (Html.BeginForm())
    {
        <input type="hidden" value="@Model.Id" name="OrderId" />
        <p>
            <span>Принять заказ</span>
            <input type="radio" name="Decision" value="accept" checked />
        </p>
        <div>
            <span>Отклонить заказ</span>
            <input type="radio" name="Decision" value="decline" />
            <p><label>Причина отаказа</label><input type="text" name="Reason" /></p>
        </div>
        <input type="submit" value="Рассмотреть заказ" />
    }
}
//3
else if (Model.NameOrderStatus == "Согласованный")
{
    using (Html.BeginForm())
    {
        <input type="hidden" value="@Model.Id" name="OrderId" />
        <p>
            <span>Заказ оплачен</span>
            <input type="radio" name="Decision" value="paid" checked />
        </p>
        <div>
            <span>Заказ не оплачен во время согласно договору</span>
            <input type="radio" name="Decision" value="decline" />
            <p><label>Причина отаказа</label><input type="text" name="Reason" /></p>
        </div>
        <input type="submit" value="Рассмотреть заказ" />
    }
}
//4
else if (Model.NameOrderStatus == "Оплаченный")
{
    using (Html.BeginForm())
    {
        <input type="hidden" value="@Model.Id" name="OrderId" />
        <p>
            <span>Клиент получил автомобиль</span>
            <input type="radio" name="Decision" value="received" checked />
        </p>
        <input type="submit" value="Рассмотреть заказ" />
    }
}
//5
else if (Model.NameOrderStatus == "Автомобиль у клиента")
{
    <h2>Возврат автомобиля</h2>
    using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)

        <input type="hidden" value="@Model.Id" name="OrderId" />
        <input type="hidden" value="return" name="Decision" />
        <p>
            <span>Время возврата</span>
            @Html.ValidationMessage("ReturnTime")
            @Html.Editor("ReturnTime")
            @*<input type="text" name="ReturnTime" />*@
        </p>
        <p>В случае, если есть повреждения автомобиля:</p>
        <p>
            <span>Описание повреждения</span>
            <input type="text" name="Description" />
        </p>
        <p>
            <span>Стоимость ремонта</span>
            <input type="text" name="CostRepair" />
        </p>
        <input type="submit" value="Зарегистрировать возврат" />
    }
}
//6
else if (Model.NameOrderStatus == "Автомобиль возвращен с повреждениями, долг клиента")
{
    using (Html.BeginForm())
    {
        <input type="hidden" value="@Model.Id" name="OrderId" />
        <p>
            <span>Оплачен долг</span>
            <input type="radio" name="Decision" value="debtRepaid" checked />
        </p>
        <input type="submit" value="Долг оплачен" />
    }
}