@model IEnumerable<Service.ViewModels.OrderListArticle>

@{
    ViewBag.Title = "Заказы";
}

<h3>Заказы</h3>

<table class="table">
    <tr>
        <th>
            Паспортные данные
        </th>
        <th>
            Начальная дата и время
        </th>
        <th>
            Конечная дата и время
        </th>
        <th>
            С водителем или без водителя
        </th>
        <th>
            Название статуса заказа
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        if ((item.NameOrderStatus == "Новый") || (item.ManagerEmail == ViewBag.ManagerEmail))
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PassportData)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FinalDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AvailabilityDriver)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NameOrderStatus)
                </td>

                <td>
                    @Html.ActionLink("Рассмотреть заказ", "DetailsOrder", new { id = item.Id })
                </td>
            </tr>
        }
    }
</table>
