@model Service.ViewModels.CarViewModel

@{
    ViewBag.Title = "CreateCar";
}

<h2>Добавить автомобиль</h2>

@using (Html.BeginForm())
{
<dl>
    @Html.ValidationSummary(true)
    <dd>
        Название
    </dd>
    <dd>
        @Html.EditorFor(m => m.Title)
        @Html.ValidationMessageFor(m => m.Title)
    </dd>
    <br />
    <dd>
        Марка
    </dd>
    <dd>
        @Html.EditorFor(m => m.Brand)
        @Html.ValidationMessageFor(m => m.Brand)
    </dd>
    <br />
    <dd>
        Класс качества
    </dd>
    <dd>
        @Html.EditorFor(m => m.QulityClass)
        @Html.ValidationMessageFor(m => m.QulityClass)
    </dd>
    <br />
    <dd>
        Стоимость проката за сутки
    </dd>
    <dd>
        @Html.EditorFor(m => m.Price)
        @Html.ValidationMessageFor(m => m.Price)
    </dd>
</dl>
    <input type="submit" value="Добавить автомобиль" />
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
